
"
" My customizations
"
set clipboard+=unnamed
set list
set listchars=eol:⏎,tab:␉·,trail:␠,nbsp:⎵
set colorcolumn=120

set backspace=indent,eol,start  " more powerful backspacing

set nofixendofline

" set NERDTree

